{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% if category %}
    {% set postListItems = collections[category] %}
    {% set pageHeaderTitle = category %}
{% endif %}

{% if intro.title %}
    {% set pageHeaderTitle = intro.title %}
{% endif %}

{% set mainImage%}/images/bg/{{ category | slug }}.jpeg{% endset%}

{% block content %}
    <div class="wrapper">
        <article class="intro">
            <div class="[ intro__header ] [ radius frame ]">
                <h1 class="[ intro__heading ] [ weight-normal text-400 md:text-600 ]">
                    <em class="text-700 md:text-800 lg:text-900 weight-bold">{{ pageHeaderTitle | title }}</em>
                </h1>
            </div>
            <div class="[ intro__content ] [ flow ]">
                <p class="intro__summary">{{ pageHeaderSummary | safe }}</p>
            </div>
            <div class="[ intro__media ] [ radius dot-shadow ]">
                <img class="[ intro__image ] [ radius ]" src="{{ mainImage }}" alt="{{ pageHeaderTitle }}"/>
            </div>
        </article>
    </div>
    <article>
        {% include "partials/post-list.html" %}
    </article>
{% endblock %}