.sticky-list {
    font-family: 'Reenie Beanie', cursive;
    --auto-grid-min-size: 20rem;

    &__item {
        padding: get-size('500');
        box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
        transition: transform .15s ease-in-out;

        // h3,
        // h4 {
        //     @include apply-utility('font', 'sans');
        // }

        &[data-type="Weitere Anzeigenmärkte"] {
            background-color: get-color('quaternary-glare');
        }

        &[data-type="Traueranzeigen"] {
            background-color: get-color('secondary-glare');
        }

        &[data-type="Heiraten & Bekanntschaften"] {
            background-color: get-color('quinary-glare');
        }

        &:nth-child(even) {
            transform: rotate(4deg);
        }

        &:nth-child(3n) {
            transform: rotate(-3deg);
        }

        &:nth-child(5n) {
            transform: rotate(5deg);
        }

        &:hover {
            transform: scale(1.125);
        }
    }

    
}