<div class="[ panel dot-shadow ] [ bg-tertiary-glare ]">
    <div class="wrapper">
        <article class="[ gallery ] [ flow flow-space-800 ]">
            {% for item in postListItems %}
                <figure class="[ gallery__item ] [ flow ]">
                    <div class="[ gallery__media ] [ frame ]" data-frame="primary">
                        <img class="radius" src="{{ item.data.featuredImage }}" alt="Bild für {{ item.data.title }}"/>
                    </div>
                    <figcaption class="[ gallery__content ] [ flow ]">
                        <h2 class="[ gallery__heading ] [ text-700 ]">
                            {{ item.data.title }}
                        </h2>
                        <p class="[ gallery__summary ] [ measure-short flow-space-300 ]">
                            {{ item.data.description }}
                        </p>
                        <a href="{{ item.url }}" class="button">Mehr lesen...</a>
                    </figcaption>
                </figure>
            {% endfor %}

            {% if category and category !== "rezepte" %}
                <a href="/artikel/" class="button">Zurückgehen</a>
            {% endif %}
        </article>

    </div>
</div>